* {
  margin: 0%;
  padding: 0%;
  border: 0%;
  box-sizing: border-box;
  vertical-align: baseline;
}

:root {
  --color--primaro:#181818;
  --color--secundario:#f0f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color--primaro:#f0f0f0;
    --color--secundario:#181818;
  }
}
a {
  display: block;
}

p a {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--color--primaro);
  color: var(--color--secundario);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /*opcional*/
  appearance: none;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var();
  line-height: 1, 4em;
  /*opcional*/
  hyphens: auto;
}

body #cuerpo .inicio {
  font-family: "Young Serif";
}
body #cuerpo .inicio h1 {
  margin: 1em;
  font-size: 40px;
  font-weight: 700;
}
body #cuerpo .inicio p {
  margin: 2.2em;
  width: 270px;
  font-size: large;
}
body #cuerpo .inicio .preparacion {
  margin: 2em 3.3em;
}
body #cuerpo .inicio .preparacion h3 {
  color: brown;
  font-size: large;
  font-weight: 700;
}
body #cuerpo .inicio .preparacion ul li {
  margin: 1em 2em;
}
@media screen and (min-width: 480px) {
  body #cuerpo .inicio img {
    width: 650px;
    margin: auto;
    padding-top: 2em;
    border-radius: 18px;
  }
  body #cuerpo .inicio p {
    width: 600px;
    font-size: 16px;
    margin: 0em 2.5em;
  }
}
body #cuerpo .Ingredientes h3 {
  color: brown;
  margin: 1em;
  font-size: 30px;
  font-weight: 700;
}
body #cuerpo .Ingredientes ul li {
  margin: 1em 3.5em;
}
body #cuerpo .Ingredientes ol {
  margin: 1em 2.3em;
}
body #cuerpo .Ingredientes ol li {
  margin: 1em;
}
body #cuerpo .Ingredientes p {
  margin: 1.6em;
  width: 320px;
  font-size: large;
}
body #cuerpo .Ingredientes .nutrientes ul {
  display: grid;
  border-color: black solid 6px;
  grid-template-columns: repeat(2, 150px);
  list-style-type: none;
}
body #cuerpo .Ingredientes .nutrientes ul .gramos {
  color: brown;
  font-size: 18px;
  font-weight: 900;
}
@media screen and (min-width: 480px) {
  body #cuerpo .Ingredientes p {
    width: 600px;
    font-size: 17px;
  }
  body #cuerpo .Ingredientes .nutrientes ul {
    grid-template-columns: repeat(2, 320px);
  }
}
body #cuerpo .attribution {
  margin: 1em 2em;
  align-items: center;
}
body #cuerpo .attribution a {
  color: blue;
}
@media screen and (min-width: 480px) {
  body #cuerpo {
    background-color: white;
  }
}
@media screen and (min-width: 480px) {
  body {
    width: 45em;
    margin: 3em auto;
    background-color: rgb(245, 219, 225);
  }
}

/*# sourceMappingURL=style.css.map */
